
@{
    ViewBag.Title = "EditorPattern";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Content/EditorPatternStyles.css" />
    <title>Document</title>
</head>
<body>
    
        
        <div id=BlockOne>
            <div class="ButtonsContain">

                <button class=blueButton>
                    <span class="blueButtonText">Добавить шаблон</span>
                    <img src="/Resourses/svg/add doc (1) white.svg" class="AddPatternImg">

                </button>

                <button class="greyButton">
                    <span class="greyButtonText">Удалить шаблон</span>
                    <img src="/Resourses/svg/delete-grey.svg" class="DeletePatternImg">
                </button>

                <div class="findButton">
                    <input type="text" class="InputStyle" placeholder="Поиск по шаблонам">
                    <button class="findIcon">
                        <img src="/Resourses/svg/zoom-in.svg" style=" width: 15px;
                    height: 15px;">
                    </button>
                </div>



            </div>


            <div id="patternsContain">


                <div class="patternRectangle">
                    <a href="#openModal">
                        <button class="patternBut">
                            <img src="/Печать/Без названия.png" class="imgStyle">
                        </button>
                    </a>
                </div>



                <div class="patternRectangle">
                    <a href="#openModal">
                        <button class="patternBut">
                            <img src="/Печать/Без названия.png" class="imgStyle">
                        </button>
                    </a>
                </div>



                <div class="patternRectangle">
                    <a href="#openModal">
                        <button class="patternBut">
                            <img src="/Печать/Без названия.png" class="imgStyle">
                        </button>
                    </a>
                </div>



                <div class="patternRectangle">
                    <a href="#openModal">
                        <button class="patternBut">
                            <img src="/Печать/Без названия.png" class="imgStyle">
                        </button>
                    </a>
                </div>


            </div>



        </div>

        <div id="openModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">


                        <div class="modelContent">
                            <div class="modelBlockOne">
                                <div class="manageBlockModel">
                                    <div class="namePatternModel">
                                        <input type="text" placeholder="Название шаблона" class="inputModelName">
                                    </div>

                                </div>

                                <div class="buttonsContainModal">
                                    <button class="blueButtonsModal">
                                        <span>Добавить текст</span>
                                    </button>

                                    <button class="blueButtonsModal">
                                        <span>Загрузить документ</span>
                                    </button>
                                </div>

                                <div class="mainEditor">
                                    <img src="/Печать/Без названия.png" class="imgModalStyle">

                                    <div class="ZoomContain">
                                        <button class="rectangleWhite">
                                            <img src="/Resourses/svg/zoom-in.svg" class="InzoomModal">
                                        </button>

                                        <button class="rectangleBlue">
                                            <img src="/Resourses/svg/zoom-out.svg" class="InzoomModal">
                                        </button>



                                    </div>


                                </div>

                                <div class="saveButtonModal">
                                    <button class="blueButtonsModal">
                                        <span>Соханить</span>
                                    </button>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>



   

</body>
</html>

