@using System.Web.UI.WebControls
@using PatternCreator.Models
@model AutModel


@{
    Layout = null;
    ViewBag.Title = "Авторизация";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/Content/AutorizationStyles.css"/>
    <title>Document</title>
</head>
<body>


<div id="MainContain">
    <div id="Autorize">
        <span id="TextOne">Авторизация</span>
    </div>
    @using (Html.BeginForm("MainPage", "Pattern", FormMethod.Post, new {@id = "AutContain"}))
    {
         @*<div id="AutContain">*@
        <div>
            @Html.HiddenFor(model => model.id, new {htmlAttributes = new {@class="hiddeninput"}}) 


            @Html.EditorFor(model => model.Login, new {htmlAttributes = new {@class = "NameStyle", PlaceHolder = "Имя*", id = "Login"}})
            @*<input type="text" id=Login class="NameStyle" placeholder="Имя">*@

        </div>
        <div id="Password">
            @*<input type="text" id=Login class="NameStyle" placeholder="Пароль">*@
            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "NameStyle", PlaceHolder = "Пароль*", id = "Login"}})

        </div>


        <div id="Passed">

            <button id="LoginButton">
                <span id=Passedstyle>Вход</span>
            </button>



        </div>



         @*</div>*@
    }


</div>
</body>
</html>