@font-face {
    font-family: "OpenSans";  
    src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

     @font-face {
        font-family: "ProximaNovaBold";  
        src: url("../../../Fonts/ProximaNova.otf"); 
        font-style: normal; 
        font-weight: normal;
         }




#MainBlock{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Header{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

#ButtonsAligment{
    display: flex;
    
}

.UserJob{
    width: 280px;
height: 47px;
background-color: #ffffff;
border: 0;
margin-left: 10px;

}

.HeaderFonts{
    width: 190px;
    height: 10px;
    color: #2b2b2b;
    font-family: "ProximaNovaBold";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Работа с ш" */
    letter-spacing: 0.75px;
}


hr{
    border: none; /* Убираем границу */
    background-color: #00aeef;; /* Цвет линии */
    color: #00aeef;; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 100%;
}



#BlockOne{
    width: 100%;
}

.ButtonsContain{
margin-top: 30px;
display: flex;
justify-content: center;

}

.hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.blueButton {
    width: 260px;
    height: 41px;
    border-radius: 5px;
    background-color: #00aeef;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    justify-content: space-around;
    position: relative;
    display: flex;
    align-items: center;
}

.greyButton{
    width: 260px;
    height: 41px;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
    background-color: #ffffff;
    margin-left: 10px;
    position: relative;
}

.findButton {
    width: 417px;
    height: 41px;
    border-radius: 5px;
    border: 2px solid #00aeef;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
}

.findIcon{
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
    
}

.InputStyle{
    border: 0;
    outline: 0;
    width: 100%;
    padding-left: 10px;
    font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
letter-spacing: 0.75px;
}


.blueButtonText {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
}

.greyButtonText{

color: #a9a9a9;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
}

.AddPatternImg {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.DeletePatternImg {
    position: absolute;
    width: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


#patternsContain {
    margin-top: 20px;

}

.patternRectangle {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
    background-color: #ffffff;
    float: left;
    margin: 15px;
}

.patternBut{
    display: block;
    margin: auto;
    cursor: pointer;
    border: 0;
}

.imgStyle {
    /*width: 265px;*/
    height: 200px;
}


.update-picture-modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    display: none;
}
/* при отображении модального окно */
    .update-picture-modal:target {
        opacity: 1; /* делаем окно видимым */
        pointer-events: auto; /* элемент видим для событий мыши */
        overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
        display: block;
    }

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    margin-left: 97%;
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
/*.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}*/




/*.modelContent{
    width: 90%;
    display: flex;
    margin: auto;
}*/


.manageBlockModel{
    display: flex;
    
  
}

.namePatternModel{
    width: 740px;
height: 40px;

}

.inputModelName{

color: #2b2b2b;
font-family: "Open Sans";
font-size: 17px;
font-weight: 400;
/* Text style for "Название ш" */
letter-spacing: 0.75px;
padding-left: 10px;
width: 100%;
height: 100%;
border: 0;
outline: 0;
box-shadow: inset 0 1px 7px rgba(3, 3, 3, 0.35);
border-radius: 5px;
border: 1px solid #cccccc;
background-color: #ffffff;
}





.blueButtonsModal{
    width: 240px;
height: 45px;
border-radius: 5px;
background-color: #00aeef;
border: 0;
outline: 0;
margin-inline-end: 10px;
cursor: pointer;
color: #ffffff;
font-family: "Open Sans";
font-size: 18px;
font-weight: 400;

}

.buttonsContainModal{
display: flex;
margin-top: 20px;
}

.mainEditor {
    margin-top: 20px;
    width: 740px;
    position: relative;
}

.imgModalStyle{
    width: 100%;
    /*height: 100%;*/
}

.saveButtonModal {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rectangleWhite{
    width: 48px;
height: 48px;
box-shadow: 0 5px 5px 1px rgba(3, 3, 3, 0.17);
border-radius: 5px;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
border: 0;
cursor: pointer;
outline: 0;
    z-index: 100;


}

.rectangleBlue{
    width: 48px;
height: 48px;
box-shadow: 0 5px 5px 1px rgba(3, 3, 3, 0.17);
border-radius: 5px;
background-color: #00aeef;
margin-top: 5px;
border: 0;
cursor: pointer;
outline: 0;

}

.InzoomModal{
    width: 22px;
height: 22px;
}


.ImageName {
    width: 100%;
    padding: 5px 0px 5px 5px;
    display: block;
    overflow-wrap: break-word;
    max-width: 270px;
    text-align: center;
}


.deleteButton {
    border-radius: 5px;
    background-color: #00aeef;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 0px 5px 0;
}

.ZoomContain {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 10000;
	opacity: 0.5;
	transform: scale(0.8);
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	/* top: 140px; */
	right: 10px;
	top: 10px;
}
	.ZoomContain:hover {
		opacity: 1;
		transform: scale(1);
	}

	.img-wrap {
		border: 1px solid gray;
		position: relative;
		margin-bottom: 20px;
	}

.draggable-div{
    width: max-content;
    position: absolute !important;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.draggable-text {
    background: transparent;
    border: 1px solid gray;
    border-radius: 0 6px 6px 6px;
	width: 100%;
    padding: 4px;
    resize: none;
    outline: 0;
    overflow: hidden;
    line-height: 0.8em;
    padding: 0px;
    height: 1em;
    
    font-family: "../../Fonts/Times New Roman.ttf";
    opacity: 0.5;
    z-index: 2;
}

.draggable-div.block-visible .draggable-text {
    resize: horizontal;
    border: 2px solid rgb(0, 174, 239);
    opacity: 1;
}


.draggable-hint {
	height: 25px;
	position: absolute;
	opacity: 0;
	top: -25px;
	display: none;
	
}
	
.draggable-div.block-visible .draggable-hint {
    opacity: 1;
}

.hint-svg {
    
    width: 25px;
    background: #00aeef;
    border-radius: 50%;
    padding: 3px;
}

.block-move-svg{
    
}

.block-delete-svg{
    
}

.hint-left {
	background-color: #00aeef;
	width: 50%;
	margin-right: 70px;
	white-space: nowrap;
	width: max-content;
	cursor: default;
	border-radius: 5px 5px 0 0;
	float:left
}
.hint-right {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #00aeef;
	width: 50%;
	white-space: nowrap;
	width: max-content;
	cursor: default;
	border-radius: 5px 5px 0 0;
	
}

.hint-title{
    color: white;
}

.draggable-text::-webkit-resizer{
    background:#00aeef;
    outline: none;
    border-radius: 6px 0 0 0;
}

    .unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.hint-title-svg{
    width: 15px;
    background: #00aeef;
    padding: 3px;
    vertical-align: bottom;
    margin: 0 5px;
}

*{
    font-family: sans-serif;
}
.ui-autocomplete {
	z-index: 10000 !important;
}
.deleteStamp {
	z-index: 10000;
	position: absolute;
	top: -2px;
	right: -2px;
	cursor: pointer;
	line-height: 18px;
	font-size: 28px;
}
.ui-resizable-se {
	border-bottom: 2px solid #000000;
	border-right: 2px solid #000000
}
.hint-data-type {
    border: 0;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 0px 0px 36px;
    background: url(../Resourses/svg/list-white.svg) 20% / 20% no-repeat transparent;
    width: 70px;
}
.hint-data-type option{
    background: white;
    color: #000;
}

#link {
    margin: auto;
}

.hint-font-size {
    width: 40px;
    background: transparent;
    border: 0;
    color: white;
}

.hint-font-size:focus {
    outline: none;
}


button.glo {
    background: white;
    text-transform: uppercase;
    /* width: 278px; */
    text-decoration: none;
    /* text-align: center; */
    margin: 30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent 50%,#00aeef 50%,#00aeef);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 200 15px tahoma;
    
    border: 1px solid #00aeeF;
    width: 215px;
    height: 36px;
}

button.glo:hover {
    background-position: 0 0;
    color: #fff;
}

td {
    /*width: auto;
    height: auto;*/
    border: 2px solid black;
}

.tableRed {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	z-index: 1;
	opacity: 0.5;
}

.stampWrap {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    
}


