@font-face {
    font-family: "OpenSans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBold";
    src: url("../../../Fonts/ProximaNova.otf");
    font-style: normal;
    font-weight: normal;
}

#MainBlock {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#ButtonsAligment {
    display: flex;
}

.UserJob {
    width: 280px;
    height: 47px;
    background-color: #ffffff;
    border: 0;
    margin-left: 10px;
}

.HeaderFonts {
    width: 190px;
    height: 10px;
    color: #2b2b2b;
    font-family: "ProximaNovaBold";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Работа с ш" */
    letter-spacing: 0.75px;
}


hr {
    border: none; /* Убираем границу */
    background-color: #00aeef;
    ; /* Цвет линии */
    color: #00aeef;
    ; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 100%;
}



#UserControl {
    display: flex;
    margin-top: 40px;
}

.AddUserControl {
    width: 220px;
    height: 41px;
    border-radius: 5px;
    background-color: #00aeef;
    border: 0;
}

input[type="text"]:disabled {
    display: none;
}

.ControlTextChoose {
    width: 187px;
    height: 16px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}


.AddUserImg {
    width: 23px;
    height: 26px;
}

.FindButton {
    border: 0;
    background: white;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.ControlText {
    color: #a9a9a9;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    border: 0;
    outline: 0;
    width: 100%;
}



.ArrowImageStyle {
    width: 20px;
    height: 15px;
}


.Controlbuttons {
    width: 260px;
    height: 41px;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
    background-color: #ffffff;
}



#AligmentDelete {
    margin-left: 20px;
}

#AligmentFind {
    margin-left: 20px;
}

.SaveButtonAligment {
    display: none;
    margin-top: 10px
}

.DeleteUserControl {
    width: 260px;
    height: 41px;
    border-radius: 5px;
    border: 2px solid #d7d7d7;
    background-color: #ffffff;
}

.FindUsersControl {
    width: 417px;
    height: 39px;
    background:none;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(215, 215, 215);
    border-image: initial;
    display: flex;
    align-items: center;
    position: relative;
}

.IconButtonsSaveUserParital {
    border: 0;
    cursor: pointer;
    background: none;
    display: none;
}






.IconButtonsEdit {
    border: 0;
    background: none;
}

.IconButtonsSave {
    border: 0;
    cursor: pointer;
    background: none;

}


.IconButtonsSaveUser {
    border: 0;
    cursor: pointer;
    background: none;
}



.IconButtonsSave:disabled {
    display: none
}

.IconButtonsDelete {
    border: 0;
    cursor: pointer;
    background: none;
}

.CompanyAdd {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

.CompanyEdit {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

.CompanyDelete {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}


#TableHead {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 41px;
    background-color: #e1e1e1;
    text-align: center;
    color: #929292;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
}


.TextTableHead {
    width: 15px;
    height: 12px;
    color: #929292;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
}

#CompanyAligment {
    margin-left: 5px;
    text-align: left;
    display: flex;
    width: 89%;
}

.IconUtilities { 
    /*margin-top: 10px;*/
    display: none;
}

tr:hover .IconUtilities {
    display: block;
}


.CompanyAligment {
    height: 40px;
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
}

.IconUtilitiesCompany {
    /*margin-left: 634px;*/
    display: none;
}

.CompanyAligment:hover .IconUtilitiesCompany {
    display: block;
}




#CompanyStyle {
    width: 181px;
    height: 16px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}

#TableTwo {
    margin-top: 40px;
    width: 100%;
    /*height: 41px;*/
    /* background-color: #e1e1e1; */
    text-align: center;
}

.ManageIconStyleCompany {
    width: 17px;
    height: 17px;
}

td {
    height: 40px;
    border: none;
    outline: none;
}

.ManageIconStyle {
    width: 17px;
    height: 17px;
}



#TableTwoStyle {
    color: #929292;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    border-collapse: collapse;
}

#impotantTr {
    background-color: #e1e1e1 !important;
    margin-top: 20px;
    width: 100%;
    height: 41px;
    background-color: #e1e1e1;
    text-align: center;
    color: #929292;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 700;
}




.ColoredTr {
    background-color: #e1e1e1;
}

.IconButtons {
    border: 0;
    cursor: pointer;
    color: #929292;
}



#ColoredCol {
    background-color: #e1e1e1;
}

#CompanyStyleEdit {
    width: 181px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
}

.SaveIconStyle {
    width: 17px;
    height: 17px;
    cursor: pointer;
}


.EditContainTable {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#CompanyAligmentEdit {
    height: 40px;
    display: flex;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
    align-items: center;
    width: 90%;
}

.EditCompanyInput {
    display: flex;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
    align-items: center;
    width: 90%;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    border: 0;
    padding: 5px 7px;
}


.CompanyEditor {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.closeTableBut {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer
}

.closeTableBut:focus {
    outline: 0;
}


.EditTdCol {
    padding: 0px 0px 0px 60px;
}



.EditCol {
    border-radius: 5px;
    border: 2px solid #00aeef;
    background-color: #ffffff;
    width: 100%;
    padding: 3px 15px;
    /* 
    text-align: left; */
    
}
.EditCol.val-error {
	border-radius: 5px;
	border: 2px solid red;
	background-color: pink;
	width: 100%;
	padding: 3px 15px;
	/* 
    text-align: left; */
    
}

.EditTextCol {
    margin-left: 5px;
}

.AddUserModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputUser {
    width: 420px;
    height: 25px;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #00aeef;
    background-color: #ffffff;
    color: #2b2b2b;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    padding-left: 10px;
}

.inputCompany {
    width: 420px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #00aeef;
    background-color: #ffffff;
    margin-top: 30px;
    padding-left: 10px;
}


.buttonAligment {
    margin-top: 30px;
}

#SaveModalButton {
    width: 220px;
    height: 41px;
    border-radius: 5px;
    background-color: #00aeef;
    border: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}



/* стилизация содержимого страницы */
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}



button.glo {
    background: white;
    text-transform: uppercase;
    /* width: 278px; */
    text-decoration: none;
    /* text-align: center; */
    margin: 30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent 50%,#00aeef 50%,#00aeef);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 200 15px tahoma;
    border: 1px solid #00aeeF;
    width: 215px;
    height: 36px;
}

button.glo:hover {
    background-position: 0 0;
    color: #fff;
}


#AligmentSave {
    margin-left: 20px;
}

/* The real code */
.rotated {
    -webkit-transform: rotate(180deg); /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg); /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg); /* IE 9 */
    -o-transform: rotate(180deg); /* Opera 10.50-12.00 */
    transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera 12.10+ */
}