@font-face {
    font-family: "OpenSans";  
    src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

     @font-face {
        font-family: "ProximaNovaBold";  
        src: url("../../../Fonts/ProximaNova.otf"); 
        font-style: normal; 
        font-weight: normal;
         }


* {
    font-family: sans-serif;
}


#MainBlock{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Header{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

#ButtonsAligment{
    display: flex;
    
}

.UserJob{
    width: 280px;
height: 47px;
background-color: #ffffff;
border: 0;
margin-left: 10px;

}

.HeaderFonts{
    width: 190px;
    height: 10px;
    color: #2b2b2b;
    font-family: "ProximaNovaBold";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Работа с ш" */
    letter-spacing: 0.75px;
}


hr{
    border: none; /* Убираем границу */
    background-color: #00aeef;; /* Цвет линии */
    color: #00aeef;; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    width: 100%;
}

.chosePatternAligment{
    margin-top: 20px;
    width: 754px;
    text-align: center;
}

#acceptedPattern{
    margin-top: 15px;
}

.selectStyle{

}

.TextAligment{
    text-align: center;
    margin-top: 10px;
}

.chosePattern{
 
}

.Pattern {
    display: flex;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 5px;
    position: relative;
}

.PrintDescription{
    padding: 12px 0 0 12px;
}

.organisationAligment{
}

#orgTextAligment{
    margin-top: 20px;
}

.BlueButton{
    width: 198px;
height: 43px;
border-radius: 5px;
background-color: #00aeef;
border: 0;
}

#manageButtons{
}

.butttonTextStyle{
    color: #ffffff;
font-family: "Open Sans";
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
/* Text style for "Печать" */
letter-spacing: 0.75px;
}

.PrintDescription{
    color: #2b2b2b;
font-family: "Open Sans";
font-size: 15px;
font-weight: 400;
/* Text style for "Шаблон №1" */
letter-spacing: 0.75px;
}

.deleteImage{
    width: 25px;
    height: 20px;
}

.DeleteButton{
    border: 0;
    background-color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* свойства модального окна по умолчанию */
.users-modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
    z-index: -1;
}
    /* при отображении модального окно */
    .users-modal:target {
        opacity: 1; /* делаем окно видимым */
        pointer-events: auto; /* элемент видим для событий мыши */
        overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
        z-index: 999;
    }
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
    /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
    }
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.FindUsersControl {
    height: 39px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(215, 215, 215);
    border-image: initial;
    display: flex;
    align-items: center;
}

.ControlText {
    color: #a9a9a9;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    border: 0;
    outline: 0;
    width: 100%;
    height: 96%;
}

.FindButton {
    border: 0;
    background: white;
    cursor: pointer;
}

.AddUserImg {
    width: 23px;
    height: 16px;
}

.AddUserPrint {
    width: 198px;
    height: 38px;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .AddUserPrint:hover {
        color: #fff;
        text-decoration: none;
        background-color: #0069d9;
        border-color: #0062cc;
    }

td {
    text-align: center;
}

#TableTwoStyle {
    height: 75px;
    color: #929292;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    border-collapse: collapse;
}

.AddButton {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: none;
}

.input-users-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 26px;
    margin-bottom: 10px;
}

.photo {
    height: 200px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 1px;
}

#photosForPrint {
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#acceptedUsers {
    border: 1px solid gray;
    min-height: 35px;
    border-radius: 5px;
    margin-top: 10px;
}

#acceptedTemplates {
    border: 1px solid gray;
    min-height: 35px;
    border-radius: 5px;
    margin-top: 10px;
}

#patternAligment {
    margin-bottom: 10px;
}

.photo-wrap {
    position: relative;
    width: max-content;
    margin: 10px;
    display: inline-block;
}

.photo-delete {
    position: absolute;
    width: 30px;
    right: 9px;
    top: 10px;
    background: #007bff;
    padding: 4px;
    border-radius: 13px;
    cursor: pointer;
}